footer{
    position: relative;
    top: 100px;
    padding: 15px 50px;
}

a {
    text-decoration: none;
    color: #fff;
}

.footer-link-icon :hover{
    color: #000;
}

.font-overlock {
    font-family: 'Overlock SC', cursive;
}

.footer-heading-title {
    font-size: 55px;
}

.footer-link-list{
    font-size: 27px;
}

.news-title {
    font-size: 27px;
}
.inp-email {
    border: 1px solid #fff;
    width: 75%;
    height: 60px;
    padding: 10px;
    outline: none;
}

.inp-email::placeholder {
    color: #fff;
    font-size: 20px;
}

.btn {
    border-style: solid solid solid none;
    border-radius: 0;
    width: 25%;
    font-size: 18px;
}

input[type=checkbox] {
    width: 20px;
    height: 30px;
}

.checkbox-tagline{
    font-size: 1.25rem;
    width: 400px;
}
.footer-icon-list{
    margin-bottom: 0;
}
.footer-link-icon{
    padding-right: 20px;
}
.footer-menu-bottom {
    display: flex;
    font-size: 18px;
    margin-bottom: 2px;
}

.footer-copyright{
    font-size: 19px;
}